@import "components/resest";
@import "components/fonts";
@import "components/vars";
@import "../libs/jquery-ui.min";
body {
    font: {
        family: Roboto-Light;
        size: 16px;
    }
}

section {
    margin-top: 58px;
}
.h1 {
    font: {
        family: Roboto-Thin;
        size: 70px;
    }
    color:$maincolor;
    margin-top: 113px;
}
.h2 {
    font-size: 30px;
    color: $maincolor;
    margin: 17px 0 0 0;
}

 ::-webkit-input-placeholder {
    color: #c7c7c7;
}

 ::-moz-placeholder {
    color: #c7c7c7;
}

 :-moz-placeholder {
    color: #c7c7c7;
}

 :-ms-input-placeholder {
    color: #c7c7c7;
}

//header
.header {
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #d9d9d9;
    &-nav {
        display: flex;
        justify-content: center;
        li {
            margin-right: 75px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-size: 14px;
            color: black;
            text-decoration: none;
            &:hover {
                color: #86c9ef;
            }
        }
    }
}

//main
main {
    text-align: center;
    margin: 0 auto;
    max-width: 768px;
    outline: 2px solid red;
}



//info
.info {
    .info-form {
        margin-top: 47px;
        input,
        select {
            width: 520px;
            height: 60px;
            font: {
                family: Roboto-Regular;
                size: 24px;
            }
            border: 1px solid #e5e5e5;
            margin-bottom: 25px;
            text-align: center;
        }
        select {
            text-align: center;
            text-align-last: center; 
            width: 320px;
            color:#c7c7c7;
        }
        option {
            color:$maincolor;
            text-align: center;
        }
    }
}


//about
.experience {
    &-content {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        .column {
            display: flex;
            flex-direction: column;
            label {
                margin-top: 10px;
                text-align: left;
            }
        }
    }
}
input[type=checkbox] {
    display: none;
}
.column label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid red;
    border-radius: 10%;
    vertical-align: middle;
    text-align: left;
    margin-right: 10px;
}
input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    color: black;
    text-align: center;
}
@import "components/media";

.ui-slider-range {
    background-color: blue !important;
}