@import "components/resest";
@import "components/fonts";
@import "components/vars";
@import "../libs/jquery-ui.min";
body {
    overflow-x: hidden;
    font: {
        family: Roboto-Light;
        size: 16px;
    }
}

.h1 {
    font: {
        family: Roboto-Thin;
        size: 70px;
    }
    color:$maincolor;
    margin-top: 110px;
}

.h2 {
    font-size: 30px;
    color: $maincolor;
    margin-top: 20px;
}

 ::-webkit-input-placeholder {
    color: $bordercolor;
}

 ::-moz-placeholder {
    color: $bordercolor;
}

 :-moz-placeholder {
    color: $bordercolor;
}

 :-ms-input-placeholder {
    color: $bordercolor;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus::-webkit-input-placeholder {}

//header
.header {
    height: 60px;
    nav {
        padding: 30px 0 30px 0;
        position: fixed;
        width: 100%;
        border-bottom: 1px solid $bordercolor;
        background-color: rgba(white, 0.8);
        z-index: 10;
        transition: padding 0.5s;
    }
    &-nav {
        display: flex;
        justify-content: center;
        li {
            margin-right: 75px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-size: 14px;
            color: $accentcolor;
            text-decoration: none;
            &:hover {
                color: $maincolor;
            }
        }
    }
    .nav-button {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        cursor: pointer;
        span {
            width: 30px;
            height: 5px;
            border-radius: 2px;
            background-color: $bordercolor;
            margin-bottom: 2px;
            &:last-child() {
                margin-bottom: 0;
            }
        }
    }
}

.navbar-fixed {
    padding: 20px 0 20px 0 !important;
}

.active-link {
    color: $maincolor !important;
}

//main
.main {
    text-align: center;
    margin: 0 auto;
    max-width: 768px;
}

//info
.info {
    margin-top: $sectionmargin;
    &-form {
        margin-top: $contetnmargin;
        &-input {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            margin-bottom: 25px;
            span {
                font-family: Roboto-Regular;
                font-size: 24px;
                color: #d9d9d9;
                position: absolute;
                //transition: all 0.5s;
            }
            input {
                width: 520px;
                height: 60px;
                font: {
                    family: Roboto-Regular;
                    size: 20px;
                }
                border: 1px solid $bordercolor;
                border-radius: 5px;
                text-align: center;
                color: $maincolor;
                padding-top: 20px;
                &:focus {
                    border-color: $accentcolor;
                    border-radius: 5px;
                    outline: none;
                }
            }
        }
        &-select {
            position: relative;
            text-align: center;
            text-align-last: center;
            width: 320px;
            color: $maincolor;
            height: 60px;
            margin: 0 auto 25px auto;
            &:after {
                content: "";
                pointer-events: none;
                width: 16px;
                height: 11px;
                display: inline-block;
                background-image: url("../images/arrow-down.png");
                position: absolute;
                top: 43%;
                right: 18px;
                z-index: 1;
                margin-top: -2px;
            }
            select {
                width: 100%;
                height: 100%;
                border: 1px solid $bordercolor;
                border-radius: 5px;
                -webkit-appearance: none;
                -moz-appearance: none;
                font: {
                    family: Roboto-Regular;
                    size: 24px;
                }
            }
        }
        &-select select::-ms-expand {
            display: none;
        }
        &-select select:focus {
            border-color: $accentcolor;
            border-radius: 10px;
            outline: 0;
        }
        &-select select:hover {
            cursor: pointer;
        }
        option {
            color: $maincolor;
            text-align-last: center;

        }
    }
}

.span-top {
    top: 6px;
    font-size: 14px !important;
}

//about
.experience {
    margin-top: $sectionmargin;
    &-content {
        display: flex;
        justify-content: space-between;
        margin-top: $contetnmargin;
        .column {
            display: flex;
            flex-direction: column;
            input[type=checkbox] {
                display: none;
            }
            label {
                margin-top: 14px;
                text-align: left;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $accentcolor;
                    border-radius: 10%;
                    vertical-align: middle;
                    text-align: left;
                    margin-right: 10px;
                }
            }
            input[type=checkbox]:checked+label:before {
                content: "\2713";
                font-size: 18px;
                line-height: 18px;
                color: $maincolor;
                text-align: center;
            }
        }
    }
}

//js
.js {
    margin-top: $sectionmargin;
}

.js-slider {
    margin-top: $contetnmargin;
    .slider {
        margin-top: 15px;
        background-color: $bordercolor;
        border: 0;
        border-radius: 0;
        height: 15px;
        &:before {
            content: "";
            display: block;
            width: 100%;
            height: 10px;
            position: relative;
            z-index: 2;
            border-right: 768px solid transparent;
            border-top: 12px solid white;
        }
    }
    &-text {
        display: flex;
        p {
            font-size: 14px;
            color: $maincolor;
            width: 25%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            position: relative;
            text-align: left;
            &:before {
                content: "......";
                position: absolute;
                display: block;
                left: -6px;
                top: 40px;
                z-index: 3;
                transform: rotate(90deg);
                color: $bordercolor;
            }
            &:last-child {
                text-align: right;
                &:before {
                    left: 96%;
                }
            }
        }
    }
    &-level {
        margin-top: 25px;
        input {
            font-size: 13px;
            font-family: Roboto-Light;
            margin-left: 3px;
            border: 0;
            width: 50px;
            cursor: default;
        }
        label {
            font-size: 14px;
            cursor: default;
        }
    }
}

.slider {
    .ui-state-default,
    .ui-widget-content .ui-state-default {
        z-index: 3;
        position: relative;
        top: 5px;
        display: block;
        width: 23px;
        height: 29px;
        background: transparent;
        background: url("../images/cursor.png") no-repeat;
        margin-left: -.7em;
        border: 0;
        &:focus {
            outline: 0;
        }
    }
}

.slider {
    .ui-state-active,
    .ui-widget-content .ui-state-active {
        background: transparent;
        background-image: url("../images/cursor.png");
    }
}

.ui-slider {
    cursor: pointer;
}

.ui-slider-range {
    background-image: -webkit-repeating-linear-gradient(left, rgb(203, 176, 240) 0%, rgb(138, 135, 196) 100%);
    background-image: repeating-linear-gradient(to right, rgb(203, 176, 240) 0%, rgb(138, 135, 196) 100%);
    background-image: -ms-repeating-linear-gradient(left, rgb(203, 176, 240) 0%, rgb(138, 135, 196) 100%);
}

//about 
.about {
    margin-top: $sectionmargin;
    &-content {
        width: 520px;
        margin: 0 auto;
        &-text {
            margin-top: 10px;
        }
        textarea {
            margin-top: $contetnmargin;
            border: 1px solid $bordercolor;
            border-radius: 10px;
            font-size: 19px;
            text-align: left;
            width: 100%;
            padding: 10px 0 0 10px;
            resize: none;
        }
    }
}

.submit {
    margin: 70px 0;
    button {
        width: 115px;
        height: 50px;
        border-radius: 10px;
        background-color: $accentcolor;
        font-size: 15px;
        border: 0;
        color: white;
    }
}

#drtest {
    width: 200px;
    height: 50px;
    border:2px solid red;
}
.list {
    display: none;
    overflow: scroll;
    width: 200px;
    height: 100px;
    border:2px solid black;
    p {
        text-align:center;
        margin:10px;
    }
}
@import "components/media";