@import "components/resest";
@import "components/fonts";
@import "components/vars";
@import "../libs/jquery-ui.min";
body {
    font: {
        family: Roboto-Light;
        size: 16px;
    }
}

.h1 {
    font: {
        family: Roboto-Thin;
        size: 70px;
    }
    color:$maincolor;
    margin-top: 113px;
}

.h2 {
    font-size: 30px;
    color: $maincolor;
    margin: 17px 0 0 0;
}

 ::-webkit-input-placeholder {
    color: #c7c7c7;
}

 ::-moz-placeholder {
    color: #c7c7c7;
}

 :-moz-placeholder {
    color: #c7c7c7;
}

 :-ms-input-placeholder {
    color: #c7c7c7;
}

//header
.header {
    padding: 30px 0 30px 0;
    border-bottom: 1px solid #d9d9d9;
    &-nav {
        display: flex;
        justify-content: center;
        li {
            margin-right: 75px;
            &:last-child {
                margin-right: 0;
            }
        }
        a {
            font-size: 14px;
            color: black;
            text-decoration: none;
            &:hover {
                color: $accentcolor;
            }
        }
    }
    .nav-button {
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        span {
            width: 30px;
            height: 5px;
            border-radius:2px;
            background-color:silver;
            margin-bottom:2px;
            &:last-child() {
                margin-bottom: 0;
            }
        }
    }
}

//main
main {
    text-align: center;
    margin: 0 auto;
    max-width: 768px;
    // outline: 2px solid red;
}

//info
.info {
    margin-top: 58px;
    .info-form {
        margin-top: 47px;
        input {
            width: 520px;
            height: 60px;
            font: {
                family: Roboto-Regular;
                size: 24px;
            }
            border: 1px solid #e5e5e5;
            margin-bottom: 25px;
            text-align: center;
        }
        .form-select {
            position: relative;
            text-align: center;
            text-align-last: center;
            width: 320px;
            color: black;
            height: 60px;
            margin: 0 auto 25px auto;
            &:after {
                content: "";
                pointer-events: none;
                width: 16px;
                height: 11px;
                display: inline-block;
                background-image: url("../images/arrow-down.png");
                position: absolute;
                top: 43%;
                right: 18px;
                z-index: 1;
                margin-top: -2px;
            }
            select {
                width: 100%;
                height: 100%;
                border: 1px solid #e5e5e5;
                -webkit-appearance: none;
                -moz-appearance: none;
                font: {
                    family: Roboto-Regular;
                    size: 24px;
                }
                color:#c7c7c7;
            }
        }
        .form-select select::-ms-expand {
            display: none;
        }
        .form-select select:focus {
            outline: 0;
            border-color: #2cb0d8;
        }
        .form-select select:hover {
            cursor: pointer;
        }
        option {
            color: $maincolor;
            text-align: center;
        }
    }
}

//about
.experience {
    margin-top: 50px;
    &-content {
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        .column {
            display: flex;
            flex-direction: column;
            input[type=checkbox] {
                display: none;
            }
            label {
                margin-top: 14px;
                text-align: left;
                &:before {
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    border: 1px solid $accentcolor;
                    border-radius: 10%;
                    vertical-align: middle;
                    text-align: left;
                    margin-right: 10px;
                }
            }
            input[type=checkbox]:checked+label:before {
                content: "\2713";
                font-size: 18px;
                line-height: 18px;
                color: black;
                text-align: center;
            }
        }
    }
}

.js {
    margin-top: 129px;
}

@import "components/media";

.js-slider {
    .ui-slider {
        margin-top: 20px;
    background-color: silver;
    border: 0;
    border-radius: 0;
    height: 15px;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 10px;
        position:relative;
        z-index: 2;
        border-right: 768px solid transparent;
        border-top: 12px solid white;
        }
        &-handle {
            z-index: 3;
            position: relative;
            top: 10px !important;
        }

        &-range {
            background-color: blue;
        }
    }
    &-text {
        display: flex;
        flex-direction:justify-content; 
        p {
            outline: 2px solid red;
            width: 192px;
            display: flex;
            flex-direction:column;
            justify-content: flex-end;
            text-align: left;
            font-size: 14px;
            position: relative;
            &:after {
            content: "......";
            position:absolute;
            left:0;
            //bottom:0;
            top:30px;
            transform: rotate(90deg);
        }
            
            &:last-child {
                text-align: right;
            }
        }
        
    }

}


























