@media only screen and (max-width:1199px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    body {
        padding: 0 20px;
    }
    .header .nav-button {
        display: flex;
    }
    .header-nav {
        display: none;
        text-align: center;
        li {
            margin: 20px 0 0 0;
            a {
                font-size: 20px;
            }
        }
    }
    .info .info-form input {
        width: 100%;
    }
    .experience-content {
        flex-direction: column;
        //text-align:center;
        .column {
            margin-left: 40%;
        }
    }
    .js-slider .slider {
        display: none;
    }
    .js-slider {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        .slider-v {
            margin-top: 3px;
        }
        &-text {
            flex-direction: column;
            p {
                width: 100%;
                margin: 0 0 40px 40px;
                &:before {
                    content: none;
                }
                &:after {
                    content: ".......";
                    position: absolute;
                    top: 0;
                    left: -30px;
                }
                &:last-child {
                    text-align: left;
                    margin-bottom: 0;
                }
            }
        }
        .ui-slider-vertical {
            height: inherit;
        }
    }
    // .js-slider .ui-slider {
    //     &:before {
    //         content: none;
    //     }
    // }
}

@media only screen and (min-width:769px) {
    .header-nav {
        display: flex;
    }
    .header .nav-button {
        display: none;
    }
    .js-slider .slider-v {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .experience-content {
        .column {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width:320px) {}