@media only screen and (max-width:1199px) {}

@media only screen and (max-width:992px) {}

@media only screen and (max-width:768px) {
    body {
        padding: 0 20px;
    }
    .header {
        height: inherit;
        nav {
            position: relative;
        }
    }
    .header .nav-button {
        display: flex;
    }
    .header-nav {
        display: none;
        text-align: center;
        li {
            margin: 20px 0 0 0;
            a {
                font-size: 20px;
            }
        }
    }
    .h1 {
        margin-top: 50px;
    }
    .info .info-form {
        input {
            width: 100%;
        }
    }
    .experience-content {
        flex-direction: column;
        .column {
            width: 200px;
            margin: 0 auto;
        }
    }
    .js-slider .slider {
        display: none;
    }
    .js-slider-content {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        .slider-v {
            margin-top: 3px;
        }
        .js-slider-text {
            flex-direction: column-reverse;
            p {
                width: 100%;
                margin: 0 0 40px 40px;
                &:before {
                    content: none;
                }
                &:after {
                    content: ".......";
                    position: absolute;
                    top: 0;
                    left: -30px;
                }
                &:first-child {
                    text-align: left;
                    margin-bottom: 0;
                }
                &:last-child {
                    text-align: left;
                }
            }
        }
        .ui-slider-vertical {
            height: inherit;
        }
    }
    .about {
        &-content {
            width: 100%;
        }
    }
}

@media only screen and (min-width:769px) {
    .header-nav {
        display: flex;
    }
    .header .nav-button {
        display: none;
    }
    .js-slider .slider-v {
        display: none;
    }
}

@media only screen and (max-width:480px) {
    .info-form-select {
        width: 100%;
    }
    .info .info-form input,
    {
        font-size: 18px !important;
    }
    .experience-content {
        .column {
            margin-left: 0;
        }
    }
}

@media only screen and (max-width:320px) {}